.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head-controls{
    display: flex;
    flex-direction: row;
}
.sedona-main{
    position: absolute;
    background-color: thistle;
    left: 10px;
    top: 250px;
}

.subscribe-title {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}